/*
black: rgb(46, 46, 46)
orange: rgb(208, 98, 36)
light beige: rgb(255, 242, 225)
dark beige: #ffe3be
*/

.add-new-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffe3be;
}

.add-person-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.add-person-btn-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.add-person-btn-img:hover {
    transform: scale(1.05);
}

body {
    background-color: rgb(255, 242, 225);
    font-family: "Helvetica", sans-serif;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    appearance: none;
}

.camera-btn-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    transition: transform 0.3s ease;
}

.camera-btn-img:hover {
    transform: scale(1.05);
}

.camera-btn-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.delete-btn-container {
    width: 35px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-btn-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.delete-btn-img:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgb(208, 98, 36);
    height: 110px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    border: 3px solid rgb(208, 98, 36);
    margin: 170px 8% 130px 8%;
    padding: 15px 20px 15px 20px;
}

.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  position: relative;
}

.guide-img {
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.guide-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 250px;
}

.guide-card-text {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

.guide-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    max-width: 1100px;
   padding: 0 auto;
}

.guide-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe3be;
    border-radius: 15px;
    margin: 170px 7% 130px 7%;
    padding: 20px 20px 15px 20px;
}

.guide-title {
    margin-top: 30px;
}

h1, h2, title {
    color: rgb(46, 46, 46);
    font-family: "Helvetica"
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(208, 98, 36);
}

h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(208, 98, 36);
}

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(208, 98, 36);
    height: 110px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 3%;
}

.hidden {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #ffe3be;
    width: 180px;
    height: 275px;
    position: relative;
}

.image-container-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.image-container.add-new-card {
    border: 3px dotted rgb(208, 98, 36);
    border-radius: 10px;
}

.image-container:not(.add-new-card) img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

li {
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo {
    width: 300px;
    height: 80px;
    object-fit: cover;
    transition: transform 0.3s ease;
    align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

.logo:hover {
    transform: scale(1.05);
}

.name-box {
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name-box-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.name-input {
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    outline: none;
    color: rgb(46, 46, 46);
    background-color: #ffe3be;
    border: none;
    text-align: center;
    height: 30px;
    width: 150px;
}

.name-input:hover {
    border: 1px solid rgb(46, 46, 46);
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-btn {
    background-color: rgb(255, 242, 225);
    color: rgb(46, 46, 46);
    padding: 10px 20px;
    border-radius: 10px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-btn:hover {
    color: rgb(208, 98, 36);
    transform: scale(1.05);
}

p:not(.text-container-texts, .profile-titles, .profile-text), div:not(.header-container, .name-box-border, .page-container, .text-container, .references-container, .guide-gallery) {
    padding: 15px 20px 15px 20px;
}

.password-btn {
    background-color: rgb(208, 98, 36);
    color: rgb(255, 242, 225);
    margin-top: 10px;
    padding: 5px 13px 5px 13px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    transition: transform 0.3s ease;
}

.password-btn:hover {
    transform: scale(1.05);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Helvetica";
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-icon:hover {
    transform: scale(1.05);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe3be;
    border-radius: 15px;
    margin: 165px 33% 120px 33%;
    height: 600px;
    padding: 20px 30px 20px 30px;
}

.profile-information {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile-titles {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black: rgb(46, 46, 46);
    margin: 0;
}

.profile-text {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: black: rgb(46, 46, 46);
    margin: 0 0 15px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 30px 0 20px 0;
}

.ref-link {
    font-size: 12px;
    vertical-align: super;
    color: rgb(208, 98, 36);
}

.ref-link:hover {
  text-decoration: underline;
}

.references-container {
    background-color: #ffe3be;
    border: 2px solid rgb(208, 98, 36);
    padding: 25px 25px 15px 25px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: "Helvetica", sans-serif;
}

.references-title {
    font-weight: bold;
    color: rgb(208, 98, 36);
}

.save-btn {
    background-color: rgb(208, 98, 36);
    color: rgb(255, 242, 225);
    padding: 4px 12px 4px 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    height: 25px;
    width: auto;
    font-size: 12px;
}

.save-btn:hover {
    transform: scale(1.05);
}

.search-bar {
  padding: 8px 12px 8px 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  outline: none;
  border: 2px solid rgb(208, 98, 36);
  color: rgb(46, 46, 46);
  background-color: rgba(208, 98, 36, 0.47);
  height: 30px;
  max-width: 150px;

  background-image: url('/static/images/search-bar-light.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px 16px;
}

.search-bar:hover {
    transform: scale(1.05);`
}

.search-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}

.upload-btn {
    background-color: rgb(208, 98, 36);
    color: rgb(255, 242, 225);
    margin-top: 30px;
    padding: 5px 13px 5px 13px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.upload-btn:hover {
    transform: scale(1.05);
}

.uploaded-section-heading {
  flex: 1 1 100%;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  color: rgb(208, 98, 36);
  margin-top: 10px;
  margin-bottom: 5px;
}

.text-container {
    padding: 20px 0px 20px 0px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 140px;
}

.text-container-titles {
    color: rgb(208, 98, 36);
}

.text-container-texts {
    color: rgb(46, 46, 46);
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
}

.your-name {
    font-size: 34px;
}